
/**
 * info users gazelle logo.
 */

.logo[data-logo="info users gazelle"] {
  width: 0;
}

.logo[data-logo="info users gazelle"] > * {
  background-image: url(images/logo.svg);
  margin: 0 0 0 0;
}

.logo[data-logo="info users gazelle"][data-color="black"] > * {
  background-image: url(images/logo-black.svg);
}

.logo[data-logo="info users gazelle"][data-color="white"] > * {
  background-image: url(images/logo-white.svg);
}
